
.radio-div {
    display: flex;
    gap:20px;
}

.radio-div label {
    position: relative;
    
    display: flex;
    cursor: pointer;
}

.radio-div label input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    left: 0;
}

.radio-div label input[type="radio"]::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    border: 1px solid #8ed6ff;
    border-radius: 18px;
    left: 0;
    cursor: pointer;
}

.radio-div label span {
    display: flex;
    padding-left: 32px;
    margin-top: 2px;
}

.radio-div label input[type="radio"]:checked::before {
    background: #fff;
}

.radio-div label input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    left: 0.25px;
    top: 0px;
    margin:2px;
    background: #8ed6ff;
    height:0.75rem;
    width: 0.75rem;
    border-radius: 1rem;
}
